.my-hover-green-blue:hover{color:#26DBCD!important;background-color:#000!important;}
.my-text-color{color:#26DBCD;}
.my-button{color:#26DBCD;background-color:#000}
.my-box{ background-color: #000;color:white}
.hide{display: none}
.success{vertical-align: middle}
.center{text-align: center}
.my-login{background-color:black;text-align: center;background-size: auto}